.buttonStyle {
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    float: right;
    clear: left;
    margin: 15px 5px 0 0;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px black solid;
    padding: 8px;
}