.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 5px;
}

.nickname {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    bottom: 25px;
}

header {
    border-bottom: 2px black dashed;
    margin-bottom: 10px;
    background-color: rgba(146, 62, 62, 0.381);
}

.title {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 230px;
}

.settings {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 5px;
    float: right;
}