.footer {
    border-top: 2px black dashed;
    margin-top: 10px;
    background-color: rgba(146, 62, 62, 0.381);
    height: 87px;
}

.author {
    font-size: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-decoration: underline;
    position: relative;
    top: 65px;
    display: inline-block;
}